__pycache__/graphs.cpython-311.pyc
.hypothesis
lab2/__pycache__/graphs.cpython-311.pyc
lab1/__pycache__/tramdata.cpython-311.pyc
lab1/__pycache__/__pycache__/tramdata.cpython-311.pyc
lab2/__pycache__/graphs.cpython-311.pyc

lab2/__pycache__/graphs.cpython-311.pyc
lab2/__pycache__/trams.cpython-311.pyc
.vscode/settings.json
lab2/__pycache__/graphs.cpython-311.pyc
